<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ishow.educate.course.mapper.CourseMapper">


    <select id="checkCourseByNameAndUserName" resultType="java.lang.Integer">
        select count(*) from t_course where name =#{name} and author =#{author}
    </select>
    <select id="listActiveCourse" resultType="coursePO">
        select * from t_course where enable = 1
        <if test="name!=null and name!=''">
            and name like #{name}%
        </if>
        <if test="author!=null and author!=''">
            and author like #{author}%
        </if>
        <if test="type!=null">
            and type = #{type}
        </if>
        <if test="level!=null">
            and level = #{level}
        </if>
    </select>
    <select id="listPage" resultType="cn.ishow.educate.course.model.po.CoursePO">
        select * from t_course
        <where>
            <if test="pusher!='admin'">
                pusher = #{pusher}
            </if>
            <if test="search!=null">
                name like '${search}%'
                or author like '${search}%'
                or pusher like '${search}%'
                or tag like '${search}%'
            </if>
        </where>
    </select>
</mapper>