<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.ishow.teacher.course.mapper.CourseMapper">


    <select id="checkCourseByNameAndUserName" resultType="java.lang.Integer">
        select count(*) from t_course where name =#{name} and author =#{author}
    </select>
    <select id="listActiveCourse" resultType="coursePO">
         select * from t_course where enbale = 1
        <if test="name!=null and name!=''">
            and name like #{name}%
        </if>
        <if test="author!=null and author!=''">
            and author like #{author}%
        </if>
        <if test="type!=null">
            and type = #{type}
        </if>
        <if test="level!=null">
            and level = #{level}
        </if>
    </select>
</mapper>